<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-venta-heading" data-cy="VentaCreateUpdateHeading" jhiTranslate="techmarketApp.venta.home.createOrEditLabel">
        Create or edit a Venta
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="techmarketApp.venta.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let fechaVentaRef = editForm.get('fechaVenta')!;
        <div class="mb-3">
          <label class="form-label" for="field_fechaVenta" jhiTranslate="techmarketApp.venta.fechaVenta">Fecha Venta</label>
          <div class="d-flex">
            <input
              id="field_fechaVenta"
              data-cy="fechaVenta"
              type="datetime-local"
              class="form-control"
              name="fechaVenta"
              formControlName="fechaVenta"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (fechaVentaRef.invalid && (fechaVentaRef.dirty || fechaVentaRef.touched)) {
            <div>
              @if (editForm.get('fechaVenta')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fechaVenta')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_precioFinal" jhiTranslate="techmarketApp.venta.precioFinal">Precio Final</label>
          <input
            type="number"
            class="form-control"
            name="precioFinal"
            id="field_precioFinal"
            data-cy="precioFinal"
            formControlName="precioFinal"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="techmarketApp.venta.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
