<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-adicional-heading" data-cy="AdicionalCreateUpdateHeading" jhiTranslate="techmarketApp.adicional.home.createOrEditLabel">
        Create or edit a Adicional
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="techmarketApp.adicional.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nombreRef = editForm.get('nombre')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="techmarketApp.adicional.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (nombreRef.invalid && (nombreRef.dirty || nombreRef.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let descripcionRef = editForm.get('descripcion')!;
        <div class="mb-3">
          <label class="form-label" for="field_descripcion" jhiTranslate="techmarketApp.adicional.descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          @if (descripcionRef.invalid && (descripcionRef.dirty || descripcionRef.touched)) {
            <div>
              @if (editForm.get('descripcion')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let precioRef = editForm.get('precio')!;
        <div class="mb-3">
          <label class="form-label" for="field_precio" jhiTranslate="techmarketApp.adicional.precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
          @if (precioRef.invalid && (precioRef.dirty || precioRef.touched)) {
            <div>
              @if (editForm.get('precio')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('precio')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_precioGratis" jhiTranslate="techmarketApp.adicional.precioGratis">Precio Gratis</label>
          <input
            type="number"
            class="form-control"
            name="precioGratis"
            id="field_precioGratis"
            data-cy="precioGratis"
            formControlName="precioGratis"
          />
        </div>

        <div class="mb-3">
          <label for="field_dispositivos" jhiTranslate="techmarketApp.adicional.dispositivos">Dispositivos</label>
          <select
            class="form-control"
            id="field_dispositivos"
            data-cy="dispositivos"
            multiple
            name="dispositivos"
            formControlName="dispositivos"
            [compareWith]="compareDispositivo"
          >
            @for (dispositivoOption of dispositivosSharedCollection; track $index) {
              <option [ngValue]="dispositivoOption">{{ dispositivoOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
